.Navbar {
    width: 100%;
    height: 350px;

    display: flex;
    flex-direction: column;

    position: relative;

    padding: 1rem 2rem;
}

.nav__brand {
    width: fit-content;
    height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav__search {
    margin: 3.4rem 0 0 0;
    width: 100%;
}

.nav__links {
    position: absolute;
    right: 19px;
    top: 21px;
}



/* brand */
.nav__brand h1 {
    font-size: 2.4rem;
    font-weight: 700;

    width: 108px;
    height: 28px;

    color: var(--main-color);
    cursor: pointer;
}

/* search box */
.search__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
}

.search__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    height: 48px;
    padding: 0 1.5rem;

    border: 1px solid var(--main-bd-color);
    border-radius: 10px;
}

.box__search-icon {
    width: 20px;
}

.search__box input {
    width: calc(100% - 20px);
    height: 100%;
    padding: 0 .7rem;

    border: none;
    outline: none;
    background: none;
}

.search__box input::placeholder {
    font-family: 'jakarta';
    font-weight: 500;
    font-size: 1.4rem;
}

.search__filter-icon {
    border: 1px solid var(--main-bd-color);
    border-radius: 10px;

    width: 48px;
    max-width: 48px;
    min-width: 48px;

    height: 48px;
    max-height: 48px;
    min-height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

/* links */
.link__user {
    cursor: pointer;
}

.links {
    position: relative;
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
}

.links span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    position: absolute;

    border-radius: 50%;
    border: 1px solid var(--main-bd-color);

    transition: all .3s ease-in;
    cursor: pointer;
}

.links span.disable {
    transform: translate(-7.5px, -38.5px);
    z-index: -1;
    opacity: 0;

}

.links span.acitve {
    opacity: 1;
    z-index: 4;
}

.links span:nth-child(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.links span.active:nth-child(1) {
    transform: translate(-75px, -39.9px);
    transition-delay: .1s;
    background-color: #ffffff;
}

.links span.active:nth-child(2) {
    transform: translate(-80px, 5px);
    transition-delay: .2s;
    background-color: #ffffff;
}

.links span.active:nth-child(3) {
    transform: translate(-45px, 35px);
    transition-delay: .3s;
    background-color: #ffffff;
}


.links span.active:nth-child(4) {
    transform: translate(0px, 25px);
    transition-delay: .4s;
    background-color: #ffffff;
}




@media screen and (min-width: 767px) {
    .Navbar {
        width: 100%;
        height: 124px;

        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .nav__brand {}

    .search__wrapper {
        border: 1px solid var(--main-bd-color);
        border-radius: 30px;
        justify-content: center;
    }

    .search__box {
        width: 85%;
        min-width: 85%;
        max-width: 85%;
        height: 48px;
        padding: 0 1.5rem;

        border: unset;
    }

    .search__filter-icon {
        border: unset;
        width: 15%;
        min-width: 15%;
        max-width: 15%;
    }

    .nav__search {
        margin: 0;
        padding: 0 1rem;
        width: 45%;
    }

    .nav__links {
        position: unset;
        width: 30%;
    }

    .link__user {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: right;

        width: 100%;
    }

    .links span {
        position: unset;
        margin: 0 .2rem;
    }

    .links span.disable {
        transform: none;
        z-index: 1;
        opacity: 1;

    }

    .links span.acitve {
        opacity: 1;
        z-index: 4;
    }

}

@media screen and (min-width: 1365px) {
    .nav__search {
        width: 492px;
    }

    .nav__links {
        width: 40%;
    }

    .links span {
        margin: 0 1rem;
    }
}