.Ads__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    width: 100vw;
    overflow: hidden;
    padding: 0 2rem;

    transform: translateY(-80px);
}

.ads__box {
    width: 327px;
    min-width: 327px;
    height: 232px;
    min-height: 232px;
    border-radius: 10px;

    position: relative;
    margin: 0 50px;

    transform: translateX(-215px);
    animation: ads__slider 10s infinite linear forwards;
    animation-delay: 1s;
    transition-delay: 1s;
}

@keyframes ads__slider {
    0% {
        transform: translateX(-215px);
    }

    25% {
        transform: translateX(215px);
    }

    50% {
        transform: translateX(215px);
    }

    75% {
        transform: translateX(-215px);
    }

    100% {
        transform: translateX(-215px);
    }
}

.box__content {
    z-index: 1;
    padding: 1rem;
    height: 100%;
}

.ads__box:nth-child(2) {
    background-color: var(--main-color);
    background-size: contain;
    background-blend-mode: screen;
    background-repeat: no-repeat;
}

.ads__box:nth-child(1) {
    background-color: var(--third-bg-color);
    background-size: contain;
    background-blend-mode: screen;
    background-repeat: no-repeat;
}

.ads__box h2 {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .2px;
    line-height: 2.4rem;

    color: var(--light-color);
}

.ads__box p {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 1.9rem;

    margin: 1.5rem 0;
    max-width: 250px;

    color: var(--light-color);
}

.ads__box button {
    width: 128px;
    height: 44px;
    border-radius: 4px;
    padding: 0 2rem;

    border: none;
    outline: none;

    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: .4px;

    color: var(--light-color);
    cursor: pointer;
}

.ads__box:nth-child(2) button {
    background-color: var(--third-bg-color);
}

.ads__box:nth-child(1) button {
    background-color: var(--main-color);
}

.content__image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 85px;
    max-height: 85px;
    z-index: 2;
}


@media screen and (min-width: 411px) {
    .ads__box {
        width: 370px;
        min-width: 370px;
        height: 232px;
        min-height: 232px;

        transform: translateX(-235px);
    }

    @keyframes ads__slider {
        0% {
            transform: translateX(-235px);
        }

        25% {
            transform: translateX(235px);
        }

        50% {
            transform: translateX(235px);
        }

        75% {
            transform: translateX(-235px);
        }

        100% {
            transform: translateX(-235px);
        }
    }
}


@media screen and (min-width: 550px) {
    .ads__box {
        width: 450px;
        min-width: 450px;
        height: 232px;
        min-height: 232px;

        transform: translateX(-275px);
    }

    @keyframes ads__slider {
        0% {
            transform: translateX(-275px);
        }

        25% {
            transform: translateX(275px);
        }

        50% {
            transform: translateX(275px);
        }

        75% {
            transform: translateX(-275px);
        }

        100% {
            transform: translateX(-275px);
        }
    }
}

@media screen and (min-width: 650px) {
    .ads__box {
        width: 450px;
        min-width: 450px;
        height: 232px;
        min-height: 232px;

        margin: 0 100px;

        transform: translateX(-330px);
    }

    @keyframes ads__slider {
        0% {
            transform: translateX(-340px);
        }

        25% {
            transform: translateX(310px);
        }

        50% {
            transform: translateX(310px);
        }

        75% {
            transform: translateX(-340px);
        }

        100% {
            transform: translateX(-340px);
        }
    }
}

@media screen and (min-width: 750px) {
    .Ads__wrapper {
        justify-content: space-between;
        /* width: 100%; */
    }

    .ads__box {
        width: 327px;
        min-width: 327px;
        height: 232px;
        min-height: 232px;
        margin: 0;

        z-index: 0;

        transform: unset;
        animation: none;
    }
}

@media screen and (min-width: 768px) {
    .Ads__wrapper {
        padding: 2rem;

        transform: translateY(0px);
    }
}

@media screen and (min-width: 850px) {
    .ads__box {
        width: 380px;
        min-width: 380px;
        height: 300px;
        min-height: 300px;

    }

    .box__bg {
        max-width: 380px;
        max-height: 300px;
        bottom: 0;
    }

    .box__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1.5rem;
    }

    .ads__box h2 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 4.8rem;
    }

    .ads__box p {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.4rem;
        max-width: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .ads__box {
        width: 480px;
        min-width: 480px;
        height: 360px;
        min-height: 360px;
    }

    .box__bg {
        max-width: 380px;
        max-height: 300px;
        bottom: 0;
    }

    .ads__box h2 {
        font-size: 2.7rem;
        line-height: 4.8rem;
    }

    .ads__box p {
        font-size: 1.8rem;
        line-height: 2.4rem;
        max-width: 400px;
    }
}


@media screen and (min-width: 1366px) {
    .ads__box {
        width: 650px;
        min-width: 650px;
        height: 360px;
        min-height: 360px;
    }

    .box__bg {
        max-width: 380px;
        max-height: 300px;
        bottom: 0;
    }

    .ads__box h2 {
        font-size: 2.7rem;
        line-height: 4.8rem;
    }

    .ads__box p {
        font-size: 1.8rem;
        line-height: 2.4rem;
        max-width: 400px;
    }
}